@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'boxicons/css/boxicons.min.css';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.dark {
    --background: #202c36;
    --foreground: #ededed;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif; /* Use Nunito Sans as primary font */

    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
